<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>首页-DTLS_hello</h1>
<p>个人介绍: {{ username }} : {{ age }}</p>
<img src="{{ img_url }}" alt="">
<h3>用户列表</h3>
{% for user in list_users %}
    <p>用户名： {{ user.name }}</p>
    <p>年龄： {{ user.age }}</p>
{% endfor %}
<h3>猫的信息</h3>
{{ cat.display }}
</body>
</html>